*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F8FAF7;
}

.btn {
    margin-top: 15px;
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}


/* Button Hover */

.btn:hover {
    cursor: pointer;
    background-color: #1b5e20;
    transform: translateY(-2px);
}

.stylish-btn {
    width: 140px;
    height: 45px;
    background: linear-gradient(135deg, #2E7D32, #4CAF50);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(76, 175, 80, 0.3);
}

/* Hover Effect */
.stylish-btn:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 10px 25px rgba(76, 175, 80, 0.4);
}

/* Click Effect */
.stylish-btn:active {
    transform: scale(0.97);
}

/* Optional icon styling */
.stylish-btn svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    fill: whstylish-btn
}